.modal h2{
    font-size: 12px;
}
.about, .modal ul{
    font-size: 7px;
}
.modal{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
    background-color: rgb(228, 202, 202);
    width: 70%;
    height: 50%;
    position: relative;
}